FILE - In this July 12, 2017 file photo, a U.S. Customs and Border Protection facial recognition device is ready to scan another passenger at a United Airlines gate at George Bush Intercontinental Airport, in Houston. Florida’s busiest airport is becoming the first in the nation to require a face scan of passengers on all arriving and departing international flights, including U.S. citizens, according to officials there. The expected announcement Thursday, June 21, 2018, at Orlando International Airport alarms some privacy advocates who say there are no formal rules in place for handling data gleaned from the scans, nor formal guidelines on what should happen if a passenger is wrongly prevented from boarding. (AP Photo/David J. Phillip, File)